@charset "UTF-8";

/* Table Of Content
-----------------------------------------------------
01. Portfolio Element
02. Services Element
-----------------------------------------------------
*/

/*-----------------------------
    01. Portfolio Element  
-------------------------------*/
div[class*="filter-"] ul li {
    display: inline-block;
}
.filter-style1 {
    text-align: center;
    overflow: hidden;
}
.filter-style1 ul {
    position: relative;
    padding: 0 40px;
    display: inline-block;
}
.filter-style1 ul:before,
.filter-style1 ul:after {
    position: absolute;
    content: '';
    height: 1px;
    width: 80px;
    top: 50%;
    margin-top: -1px;
    background-color: #000;
}
.filter-style1 ul:before {
    left: -80px;
}
.filter-style1 ul:after {
    right: -80px;
}
.filter-style1 ul li a {
    display: inline-block;
    color: #000;
    padding: 4px 14px;
    border: 1px solid transparent;
    text-decoration: none !important;
}
.filter-style1 ul li.uk-active a,
.filter-style1 ul li a:hover {
    border: 1px solid #000;
}
.filter-style2 ul {
    padding-left: 0;
}
.filter-style2 ul li a {
    display: inline-block;
    color: #999;
    padding: 4px 14px;
    margin-right: 3px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    text-decoration: none !important;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}
.filter-style2 ul li a:hover,
.filter-style2 ul li.uk-active a {
    background-color: #333;
    border-color: #333;
    color: #bbb;
}
.portfolio-style1 .p-desc-holder {
    padding: 25px;
    background: #fff;
    position: relative;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.portfolio-style1 .p-item:hover .p-desc-holder {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.portfolio-style1 .p-desc-holder .p-title {
    margin-bottom: 0;
    font-size: 15px;
}
.portfolio-style1 .p-desc-holder .p-category {
    font-size: 12px;
}
.portfolio-style1 .p-desc-holder .p-title a {
    color: #444;
    text-decoration: none;
}
.portfolio-style1 .p-middle {
    position: absolute;
    top: -20px;
    right: 20px;
}
.portfolio-style1 .p-middle .p-zoom {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    background: #fff;
    color: #444;
    border-radius: 50%;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.portfolio-style1 .p-middle .p-zoom:hover {
    background: #f5f5f5;
}
.portfolio-style1 .p-bottom {
    position: absolute;
    top: -30px;
    opacity: 0;
    background: #fff;
    padding: 3px 9px;
    border-radius: 12px;
    font-size: 11px;
    color: #777;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.portfolio-style1 .p-item:hover .p-bottom {
    top: -44px;
    opacity: 1
}

/*-----------------------------
    02. Services Elements
-------------------------------*/
.services-style1 .services-item {
    padding: 30px 25px 25px;
    position: relative;
    text-align: center;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.05);
    margin-top: 50px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}
.services-style1 .services-icon {
    position: absolute;
    top: -35px;
    background-color: #fff;
    border: 1px solid #eee;
    height: 70px;
    width: 70px;
    font-size: 26px;
    color: #bbb;
    text-align: center;
    z-index: 11;
    margin-bottom: 15px;
    line-height: 70px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 50%;
    margin-left: -35px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}
.services-style1 .services-item:hover {
    border-color: #ccc;
}
.services-style1 .services-item:hover .services-icon {
    background-color: #444;
    border-color: #444;
    color: #fff;
}
.services-style1 .services-icon i {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.services-style1 .services-title {
    font-size: 16px;
    padding-top: 40px;
    margin-bottom: 12px;
}
.services-style1 .services-desc p {
    font-size: 12px;
    line-height: 20px;
    color: #888;
    margin: 0;
}
.services-style1 .services-desc a {
    position: relative;
    display: inline-block;
    color: #888;
    font-size: 11px;
    line-height: normal;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    text-decoration: none !important;
    padding: 2px 12px 4px;
    margin-top: 20px;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.services-style1 .services-desc a:hover {
    color: #222;
    border-color: #222;
}

@media (max-width: 767px) {
    .services-style1 .services-item {
        margin-top: 70px;
    }
}